body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

#resizeButton, #resetButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vw;
    max-width: 960px; /* 960px */
    max-height: 960px; /* 960px */
    border: 1px solid black;
}

.grid-item {
    /*width: 40px;
    height: 40px;*/
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.grid-item:hover {
    background-color: black;
}